* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
}

body {
  bottom: 1500px;
  display: flex;
  /* justify-content: center;
    align-items: center; */
  min-height: 100vh;
  background: url("../img/login-bg.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.5; */
  /* backdrop-filter: blur(1px); */

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 37.5%;
  /* left: -50px;     */
  height: 30%;
  /* background-color: rgb(220, 158, 220); */
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 3vw;
  padding: 3vw 2vw;
  position: relative;
  left: -3%;
  /* top: 8vw; */
  font-size: 1.4vw;
  /* visibility: hidden; */
  /* display: none; */
  backdrop-filter: blur(10px);
  /* background-color: rgb(245, 245, 220); */
  /* opacity: 5vw; */
}
.wrapper2 {
  width: 38.5%;
  /* left: -50px;     */
  height: 30%;
  /* background-color: rgb(220, 158, 220); */
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 3vw;
  padding: 3vw 2vw;
  position: relative;
  left: -3%;
  /* top: 8vw; */
  font-size: 1.4vw;
  /* visibility: hidden; */
  /* display: none; */
  backdrop-filter: blur(10px);
  /* background-color: rgb(245, 245, 220); */
  /* opacity: 5vw; */
}
.register-link button {
  border: none;
  background-color: transparent;
}

.wrapper h2 {
  font-size: 5vw;
  text-align: center;
}
.wrapper2 h2 {
  font-size: 48px;
  text-align: center;
  position: relative;
  bottom: 0.7vw;
}

.wrapper .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.wrapper2 .input-box {
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 2.5vw;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: rgb(253, 252, 250);
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 40px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.wrapper2 .btn {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 40px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.btn:hover {
  background-color: #e7caca;
}
.fgt:hover {
  color: #3e22a3;
}
.register-link {
  font-size: 15px;
  text-align: center;
  margin: 20px 0px 15px;
}

.register-link {
  display: flex;
  position: relative;
  left: 4vw;
}
.register-link button {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4vw;
  position: relative;
  left: 1vw;
}

.register-link button:hover {
  color: aquamarine;
  text-decoration: underline;
  cursor: pointer;
}
