/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* Navigation bar */
#navbar{
    background-color: #2B2974;
    display: flex;
    align-items: center;
    height: 4.42vw;
    position: relative;
    
}

#navbar::before{
    content: "";
    background-color: #2B2974;
    position: absolute;
    top: 0;
    left: 0;
    height: 97%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

/* Navigation bar: Logo and Image */
#logo{
    margin: 0.31vw 0.052vw;
}

#logo img{
    width: 9.03vw;
    height: 4.62vw;
    margin: 0vw -0.052vw;
}

/* Navigation bar: List Styling */
#navbar ul{
    display: flex;
    font-family: "Bree Serif", serif; 
    font-style: normal;
}


#navbar ul li{
    font-family: "Bree Serif", serif;    
    font-size: 1.5rem;
    list-style: none;
}

#navbar ul li a{
    display: block;
    padding: 0.46vw 2.2375vw;
    border-radius: 0.781vw;
    color: wheat;
    text-decoration: none;
    font-family: "Bree Serif", serif;    
}

#navbar ul li a:hover{
    color: rgb(218, 124, 124);
    background-color: blueviolet;
    
}


/* Navigation2 bar */
#navbar2{
    background-color: #2B2974;
    display: flex;
    align-items: center;
    height: 3.62vw;
    position: relative;
    
}

#navbar2::before{
    content: "";
    background-color: #2B2974;
    position: absolute;
    top: 0;
    left: 0;
    height: 97%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

/* Navigation bar2: Logo and Image */
#logo2{
    margin: 0.3125vw 0.052vw;
}

#logo2 img{
    width: 7.031vw;
    height: 3.385vw;
    left: auto;
    margin: -0.365vw -0.052vw;
}

#logo3{
    margin: 0.3125vw 0.052vw;
}

#logo3 img{
    width: 5.208vw;
    height: 5.208vw;
    margin-left: 84.375vw;
    /* margin: -7px 1400px; */
}



#logo2 h2{
    display: flex;
    height: 1.04vw;
}


/* Navigation bar2: List Styling */
#navbar2 ul{
    display: flex;
    font-family: "Bree Serif", serif; 
    font-style: normal;
}


#navbar2 ul li{
    font-family: "Bree Serif", serif;    
    font-size: 1.5rem;
    list-style: none;
}

#navbar2 ul li a{
    display: block;
    padding: 0.260vw 0.9375vw;
    border-radius: 0.781vw;
    color: wheat;
    text-decoration: none;
    font-family: "Bree Serif", serif;    
}

#navbar2 ul li a:hover{
    color: rgb(218, 124, 124);
    background-color: blueviolet;
    
}
/* ----------*********---------- */

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    height: 43.8vw;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    background: url('../ProjectPic/R01.jpg') no-repeat  center  center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

.bigbox{
    height: 46.875vw;
    background: url('../ProjectPic/R02.jpg') no-repeat  center  center/cover;
    position: relative;
    /* top: 0;
    left: 0;*/
    height: 100%;
    width: 100%; 
    z-index: -1;
    opacity: 0.9;
} 


/* .bigbox::before{ 
    content: "";
    background: url('../ProjectPic/R01.jpg') no-repeat  center  center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}  */

#home h3{
    color: white;
    text-align: center;
    font-family: "Bree Serif", serif;     
}

#home h1{
    font-size: 2.8rem;
    color: white;
    text-align: center;    
    font-family: "Bree Serif", serif; 
    font-style: normal;      
}

#terminal{
    color:rgb(10, 1, 1) ;
    background-color: #b2aee8;
    /* border-radius: 0.781vw; */
    /* border: 2px solid brown; */
    padding: 2.03vw;
    margin: -0.13vw;
    display: flex;
    
}

#terminal .terminalbox{
    font-family: "Bree Serif", serif;    
    padding-top: 0vw;
    padding-bottom: 5.979vw;
    padding-right: 75.5vw;    
}

#terminal .terminalbox2{
    font-family: "Bree Serif", serif; 
    bottom: 95vw;   
    padding-top:0vw;
    padding-bottom: 5.979vw;    
}

#terminal .terminalbox1{
    padding: -0.52vw;
    /* left: 95vw; */
}

#shop{
    margin: -2.083vw;
    display: flex;
}

#shop .box{
    border: 0.104vw solid rgb(228, 152, 152);
    padding: 2.865vw;
    margin: 4.896vw;
    border-radius: 0.781vw;
    background-color: rgb(240, 233, 233);
}

#shop .box img{
    display: block;
    margin: auto;
    height: 6.77vw;
    height: 8.854vw;
}


/* Utility Class */
.h-primary{
    font-size: 1.8rem;
    padding: 0.781vw;  
    font-family: "Bree Serif", serif;      
}

.btn{
    padding: 0.52vw 0.781vw;
    border: 0.104vw solid white;
    background-color: rgb(199, 61, 61);
    color: white;
    font-size: 0.5rem;
    border-radius: 0.52vw;
    cursor: pointer;
    font-family: "Bree Serif", serif;    
}

.btn2{
    padding: 0.52vw 1.31vw;
    border: 0.104vw solid white;
    background-color: rgb(199, 61, 61);
    color: white;
    font-size: 1.45rem;
    border-radius: 0.52vw;
    cursor: pointer;
    font-family: "Bree Serif", serif;    
}