.scheduleform
{
    background-color: #75d3f2;
   
   width: 60%;
   height: 80%;
   position:absolute;
   left: 300px;
   top:100px;
   padding-left: 50px;
   border-radius: 20px;
   
   
}


.confirmbutton
{
    background-color: #0056b3;
     margin: 20px;
     border-radius: 5px;
     width:13%;
     height: 7%;
     position:absolute;
     left:40px;
     bottom: -6px;
     cursor: pointer;
     color:white;

     
}

.confirmbutton:hover {
    background-color: yellowgreen;
}

.slotheadline
{
   padding-bottom: 20px;
   position: absolute;
   bottom:350px;
   font-size: 17px;
   font-weight: bold;
}


.checkbox-container {
    border: 1px solid transparent;
    padding: 10px;
}

.checkbox-container table {
    border-collapse: collapse;
    width: 100%;
}

.checkbox-container table td {
    border: 1px solid transparent;
    padding: 5px;
}

.checkbox-container table td input[type='checkbox'] {
    margin-right: 5px;
    transform: scale(1.5); /* Increase the size of the checkbox */
    
}
