<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestaurentPage</title>
    <link rel="stylesheet" href="../CSS/RestaurentPage.css">
    <!-- <link rel="stylesheet" media="screen and (max-width:1390px)" href="CSS/phone.css"> -->
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="ProjectPic/logo.png" alt="">
        </div>

        <ul>
            <li class="item"><a href="#">At the Airport</a></li>
            <li class="item"><a href="#">Flights</a></li>
            <li class="item"><a href="#">Booking</a></li>
            <li class="item"><a href="#">Help</a></li>
            <li class="item"><a href="#">Reward</a></li>
        </ul>
    </nav>
    <hr>

    <section id="home">
        <h3 class="h-primary">XTON : Welcome to XTON / At the Airport/RESTAURENT</h3>
        <h1>Restaurent at XTON</h1>
    </section>

    <!-- <section id="home2"> -->
        <section class="bigbox">
        <h1 class="h-primary"></h1>
        <div id="terminal">
            <div class="terminalbox">
                <h1>Select a Terminal</h1>
                 <button class="btn2">Reset</button>
                 <button class="btn2">Reset</button>
                 <button class="btn2">Reset</button>
                 <button class="btn2">Reset</button>
            </div>

            <div class="terminalbox1">
                <button class="btn2">Reset</button>
            </div>           
        </div>
        
        <div id="terminal">
            <div class="terminalbox2">
                <h1> Select a Category</h1>
            </div>
        </div>
        
    <!-- </section> -->

        <section class="shop selection">
        <h1 class="h-primary"></h1>
        <div id="shop">
            <div class="box">
                <img src="../ProjectPic/Figma/Bigsmoke.jpeg" alt="">
                <button class="btn">View Details</button>
            </div>
            <div class="box">
                <img src="../ProjectPic/Figma/Black Sheep Coffee.jpeg" alt="">
                <button class="btn">View Details</button>
            </div>
            <div class="box">
                <img src="../ProjectPic/Figma/Cavier House.jpg" alt="">
                <button class="btn">View Details</button>
            </div>
            <div class="box">
                <img src="../ProjectPic/Figma/Girraffe.png" alt="">
                <button class="btn">View Details</button>
        </div>
        </section>

        <section class="shop selection">
        <h1 class="h-primary"></h1>
        <div id="shop">
            <div class="box">
                <img src="../ProjectPic/Figma/Bigsmoke.jpeg" alt="">
                <button class="btn">View Details</button>
            </div>
            <div class="box">
                <img src="../ProjectPic/Figma/Black Sheep Coffee.jpeg" alt="">
                <button class="btn">View Details</button>
            </div>
            <div class="box">
                <img src="../ProjectPic/Figma/Cavier House.jpg" alt="">
                <button class="btn">View Details</button>
            </div>
            <div class="box">
                <img src="../ProjectPic/Figma/Girraffe.png" alt="">
                <button class="btn">View Details</button>
        </div>
        </section>
    </section>

    <hr>
    <nav id="navbar2">
        <div id="logo2">
            <img src="ProjectPic/logo.png" alt="">
              <!-- <h2>XTON Airport Limited</h2> -->
            <hr>
        </div>

        <div id="logo3">
            <img src="ProjectPic/Figma/up-arrow.png" alt="">
            
        </div>
        

        <!-- <ul>
            <li class="item"><a href="#">At the Airport</a></li>
            <li class="item"><a href="#">Flights</a></li>
            <li class="item"><a href="#">Booking</a></li>
            <li class="item"><a href="#">Help</a></li>
            <li class="item"><a href="#">Reward</a></li>
        </ul> -->
    </nav>
    
</body>
</html>