* {
  margin: 0;
  padding: 0;
}
/*...................Backgreound-Images.................*/
.BackgroundImg {
  position: absolute;
  width: 100vw;
  height: 46vw;
  background-image: url(Images/Administration.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.3;
}
/*...................Logo.................*/
#logo {
  margin-left: 2vw;
  margin-top: 0.5vw;
  width: 10vw;
  height: 8.4vw;
  background: url(Images/xton_logo.png);
  border-radius: 2vw;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
/*...................Logout.................*/
#Logout {
  margin-top: -3.25vw;
  margin-left: 5.3vw;
  width: 2.75vw;
  height: 2.25vw;
  background: url(Images/logout.png);
  border-radius: 2vw;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgb(39, 23, 23);
}
/*...................Buttons.................*/
#Passengers {
  height: 2.55vw;
  width: 10vw;
  margin-left: 0.5vw;
  background-color: FF7888;
  color: #000000;
  font-weight: bold;
  font-size: 1.1vw;
  border: none;
  border-radius: 2vw;
  cursor: pointer;
  transition: background-color 1s;
}
.Other_button1 {
  margin-top: 1vw;
  margin-left: 0.5vw;
  height: 2.55vw;
  width: 10vw;
  background-color: FFD67C;
  color: #000000;
  font-weight: bold;
  font-size: 1.1vw;
  border: none;
  border-radius: 2vw;
  cursor: pointer;
  transition: background-color 1s;
}
.Other_button {
  height: 2.55vw;
  width: 10vw;
  margin-left: 0.5vw;
  background-color: FFD67C;
  color: #000000;
  font-weight: bold;
  font-size: 1.05vw;
  border: none;
  border-radius: 2vw;
  cursor: pointer;
  transition: background-color 1s;
}

.Other_button:hover {
  background-color: FF7888;
}
.Other_button1:hover {
  background-color: FF7888;
}
/*...................Button Frame.................*/
#button_f {
  margin-top: 1.1vw;
  margin-left: 1.5vw;
  height: 35.2vw;
  width: 11vw;
  background-color: 524ECC;
  border-radius: 2vw;
}
/*...................Outer Big Frame.................*/
#outer_f {
  margin-top: -44.5vw;
  margin-left: 13.5vw;
  height: 45vw;
  width: 84.5vw;
  background-color: 524ECC;
  border-radius: 2vw;
  flood-opacity: 0.4;
}
.datetime {
  margin-top: -43.7vw;
  margin-left: 70vw;
  height: 2.8vw;
  width: 12vw;
  background-color: #eea981;
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 1vw;
  font-weight: bold;
}
.date {
  margin-left: 0vw;
  margin-top: -0.3vw;
  font-weight: 600;
  font-size: 1.1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.time {
  margin-left: 0vw;
  font-size: 1.5vw;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}
/*...................Admin Name.................*/
#admin_Name {
  margin-top: -43.3vw;
  margin-left: 85vw;
  height: 4vw;
  width: 20vw;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.1vw;
  background-size: cover;
  background-position: center;
}
/*...................Admin Photo.................*/
#admin_Photo {
  margin-top: -4.9vw;
  margin-left: 89vw;
  height: 3vw;
  width: 3vw;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}
#admin_Photo img {
  border-radius: 50%;
}
/*...................Frame Content Name.................*/
#content_Name {
  margin-top: -3vw;
  margin-left: 18vw;
  height: 9vw;
  width: 9vw;
  background-color: FF7888;
  color: #000000;
  font-weight: bold;
  font-size: 1.5vw;
  border: none;
  border-radius: 1.5vw;
  text-align: center;
}
/*...................Inner Frame.................*/
#content_f {
  margin-top: -7vw;
  margin-left: 14.5vw;
  height: 39.8vw;
  width: 82.5vw;
  background-color: FF7888;
  border-radius: 2vw;
}
/*.....................Inside Form.................*/
.Contents {
  margin-top: 1.8vw;
  margin-left: 14.8vw;
}
.Contents #Contents1 {
  margin-top: 0.5vw;
  margin-left: 0.5vw;
  height: 38.2vw;
  width: 80.8vw;
  background-color: rgb(239, 201, 253);
  border-radius: 1vw;
  box-shadow: 4px 4px 4px rgb(94, 84, 84);
  font-size: 1.2vw;
  font-weight: bold;
}
.Contents #H {
  margin-top: 1.5vw;
  margin-left: 0.5vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(20, 49, 16);
  font-size: 1.8vw;
  text-align: left;
}
/*...................Search Bar.................*/
.Contents #Contents1 #search {
  margin-top: -0.5vw;
  margin-left: 60vw;
  height: 1.6vw;
  width: 18vw;
  background-color: rgb(255, 255, 255);
  border-radius: 0.7vw;
  font-weight: bold;
  font-size: 1.1vw;
  border: 2px;
}
.Contents #Contents1 #search_i {
  margin-top: -1.3vw;
  margin-left: 76.3vw;
  height: 0.5vw;
  width: 0.5vw;
  font-size: 1.1vw;
  color: #8a8a8a;
  cursor: pointer;
  border: none;
  background: none;
  background-size: cover;
  background-position: center;
}
.Contents #Contents1 #Scrolable-Table {
  margin-top: 1vw;
  max-height: 33vw;
  overflow-y: auto;
  width: fit-content;
}
.Contents #Contents1 #Scrolable-Table #Table {
  margin-top: 0vw;
  margin-left: 1vw;
  width: 78vw;
  height: 24.5vw;
  background-color: rgb(240, 240, 240);
  border: o.3vw solid black;
  border-collapse: collapse;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1vw;
  text-align: center;
}
.Contents #Contents1 #Scrolable-Table #TH {
  background-color: rgb(100, 238, 220);
  border: 0.2vw solid black;
  font-size: 1.5vw;
  position: sticky;
  top: -2;
  padding: 6px 8px;
}
.Contents #Contents1 #Scrolable-Table #TD {
  border: 2px solid black;
  font-size: 1.1vw;
  padding: 6px 8px;
  font-size: 1.2vw;
}
.Contents #Contents1 #Delete {
  margin-top: 0vw;
  margin-left: 0vw;
  height: 1.8vw;
  width: 4.5vw;
  background-color: rgb(250, 112, 112);
  color: #202020;
  border-radius: 0.4vw;
  font-weight: bold;
  font-size: 1vw;
  border: none;
  box-shadow: 4px 4px 4px rgb(94, 84, 84);
  cursor: pointer;
}
