* {
  margin: 0;
  padding: 0;
}
/*...................Backgreound-Images.................*/
.BackgroundImg {
  position: absolute;
  width: 99vw;
  height: 46vw;
  background-image: url(Images/Administration.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.3;
}
/*...................Logo.................*/
#logo {
  margin-left: 2vw;
  margin-top: 0.5vw;
  width: 10vw;
  height: 8.4vw;
  background: url(Images/xton_logo.png);
  border-radius: 2vw;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
/*...................Logout.................*/
#Logout {
  margin-top: -3.25vw;
  margin-left: 5.3vw;
  width: 2.75vw;
  height: 2.25vw;
  background: url(Images/logout.png);
  border-radius: 2vw;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgb(39, 23, 23);
}
/*...................Buttons.................*/

#Dashboard {
  margin-top: 1vw;
  margin-left: 0.5vw;
  height: 2.55vw;
  width: 10vw;
  background-color: FF7888;
  color: #000000;
  font-weight: bold;
  font-size: 1.1vw;
  border: none;
  border-radius: 2vw;
  cursor: pointer;
}
.Other_button {
  height: 2.55vw;
  width: 10vw;
  margin-left: 0.5vw;
  background-color: FFD67C;
  color: #000000;
  font-weight: bold;
  font-size: 1.05vw;
  border: none;
  border-radius: 2vw;
  cursor: pointer;
  transition: background-color 1s;
}

.Other_button:hover {
  background-color: FF7888;
}
/*...................Button Frame.................*/
#button_f {
  margin-top: 1.1vw;
  margin-left: 1.5vw;
  height: 35.2vw;
  width: 11vw;
  background-color: 524ECC;
  border-radius: 2vw;
}

/*...................Outer Big Frame.................*/
#outer_f {
  margin-top: -44.5vw;
  margin-left: 13.5vw;
  height: 45vw;
  width: 84.5vw;
  background-color: 524ECC;
  border-radius: 2vw;
  flood-opacity: 0.4;
}
/*...................Search Bar.................*/
#search {
  margin-top: -43.7vw;
  margin-left: 40vw;
  height: 1.6vw;
  width: 18vw;
  background-color: rgb(223, 223, 223);
  border-radius: 0.7vw;
  font-weight: bold;
  font-size: 1.1vw;
  border: none;
}
#search_i {
  margin-top: -43.5vw;
  margin-left: 56vw;
  height: 0.5vw;
  width: 0.5vw;
  font-size: 1.1vw;
  color: #8a8a8a;
  border: none;
  cursor: pointer;
  background: none;
  background-size: cover;
  background-position: center;
}
.datetime {
  margin-top: -43.7vw;
  margin-left: 67vw;
  height: 2.8vw;
  width: 12vw;
  background-color: #eea981;
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 1vw;
  font-weight: bold;
}
.date {
  margin-left: 0vw;
  margin-top: -0.3vw;
  font-weight: 600;
  font-size: 1.1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.time {
  margin-left: 0vw;
  font-size: 1.5vw;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}
/*...................Notification Bell.................*/
#Notification1 {
  margin-top: -43.8vw;
  margin-left: 81.5vw;
  height: 2vw;
  width: 2vw;
  background: url(Images/bell.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: none;
}
#Notification2 {
  margin-top: -43.8vw;
  margin-left: 81.5vw;
  height: 2vw;
  width: 2vw;
  background: url(Images/notification.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: none;
}
/*...................Admin Name.................*/
#admin_Name {
  margin-top: -43.3vw;
  margin-left: 85vw;
  height: 4vw;
  width: 8vw;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.1vw;
  background-size: cover;
  background-position: center;
}
/*...................Admin Photo.................*/
#admin_Photo {
  margin-top: -4.9vw;
  margin-left: 89vw;
  height: 3vw;
  width: 3vw;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}
#admin_Photo img {
  border-radius: 50%;
}
/*...................Frame Content Name.................*/
#content_Name {
  margin-top: -3vw;
  margin-left: 18vw;
  height: 9vw;
  width: 9vw;
  background-color: FF7888;
  color: #000000;
  font-weight: bold;
  font-size: 1.5vw;
  border: none;
  border-radius: 1.5vw;
  text-align: center;
}
/*...................Inner Frame.................*/
#content_f {
  margin-top: -7vw;
  margin-left: 14.5vw;
  height: 39.8vw;
  width: 82.5vw;
  background-color: FF7888;
  border-radius: 2vw;
}
#Form1 {
  margin-top: 1.9vw;
  margin-left: 15.5vw;
  height: 23vw;
  width: 39.75vw;
  background-color: white;
  border-radius: 1vw;
  font-size: 1.1vw;
  display: cover;
  text-align: center;
  color: #db8017;
  font-style: italic;
  box-shadow: 4px 4px 4px rgb(39, 23, 23);
}
#Form2 {
  margin-top: 0.8vw;
  margin-left: 15.5vw;
  height: 14.5vw;
  width: 39.75vw;
  background-color: wheat;
  border-radius: 1vw;
  box-shadow: 4px 4px 4px rgb(39, 23, 23);
  cursor: auto;
}
.wrapper {
  margin-top: 7.25vw;
  margin-left: 19.9vw;
  background-color: #c9a0ff;
  height: 13.5vw;
  width: 37.75vw;
  border-radius: 0.6em;
  transform: translate(-50%, -50%);
  display: flex;
  position: absolute;
}
.testimonial-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  padding: 1.8em 1.2em;
  background: none;
}
.wrapper button {
  font-size: 1.8em;
  height: 1.3em;
  width: 1.3em;
  background-color: #ffffff;
  background: url(Images/notification.png);
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border: none;
  color: #0a69ed;
  box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
  cursor: pointer;
  border-radius: 50%;
}
button#next {
  right: -0.5em;
}
button#prev {
  left: -0.5em;
}
.testimonial-container p {
  margin-left: 10vw;
  height: 18vw;
  width: 22.75vw;
  color: #000000;
  text-align: center;
  font-size: 1.2vw;
  font-weight: bold;
  line-height: 2em;
  letter-spacing: 0.05em;
}
.testimonial-container img {
  margin-left: 2.2vw;
  margin-top: -17vw;
  display: block;
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
}
.testimonial-container h3 {
  margin-left: 1.2vw;
  margin-top: 0.5vw;
  color: #000000;
  font-size: 1.1vw;
  text-align: left;
}
.testimonial-container h6 img {
  height: 1.7vw;
  width: 5.75vw;
  margin-top: 5.5vw;
  margin-left: 1.1vw;
  margin-top: 0.5vw;
  text-align: center;
  border-radius: 20%;
  background-color: #a86c6c;
}
@media screen and (max-width: 650px) {
  .wrapper {
    font-size: 1.1vw;
  }
}
.Form3 {
  margin-top: -38.5vw;
  margin-left: 56.5vw;
  height: 15vw;
  width: 39.5vw;
  background-color: white;
  border-radius: 1vw;
  position: absolute;
  box-shadow: 4px 4px 4px rgb(39, 23, 23);
  cursor: auto;
}
#Form4 {
  margin-top: -22.8vw;
  margin-left: 56.5vw;
  height: 22.9vw;
  width: 39.5vw;
  background-color: white;
  border-radius: 1vw;
  text-align: center;
  color: #db8017;
  font-style: italic;
  font-size: 1.1vw;
  box-shadow: 4px 4px 4px rgb(39, 23, 23);
}
.Form3 #Form3-1 {
  margin-top: 0.5vw;
  margin-left: 1vw;
  height: 6.8vw;
  width: 18.5vw;
  background-color: #9bb7ff;
  border-radius: 1vw;
  text-align: left;
  font-weight: bold;
  font-size: 1.1vw;
}
.Form3 #Form3-2 {
  margin-top: 0.4vw;
  margin-left: 1vw;
  height: 6.8vw;
  width: 18.5vw;
  background-color: #a09fe9;
  border-radius: 1vw;
  text-align: left;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.5vw;
  font-weight: bold;
  font-size: 1.1vw;
}

.Form3 #Form3-3 {
  margin-top: -14vw;
  margin-left: 20vw;
  height: 6.8vw;
  width: 18.5vw;
  background-color: wheat;
  border-radius: 1vw;
  text-align: left;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.1vw;
}
.Form3 #Form3-4 {
  margin-top: 0.4vw;
  margin-left: 20vw;
  height: 6.8vw;
  width: 18.5vw;
  background-color: #f39296;
  border-radius: 1vw;
  text-align: left;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.1vw;
}
.Form3 #img1 {
  margin-top: -4.3vw;
  margin-left: 13vw;
  height: 4.5vw;
  width: 4.5vw;
}

.Form3 #img2 {
  margin-top: -4.3vw;
  margin-left: 13vw;
  height: 4.5vw;
  width: 4.5vw;
}
.Form3 #img3 {
  margin-top: -4.3vw;
  margin-left: 13vw;
  height: 4.5vw;
  width: 4.5vw;
}
.Form3 #img4 {
  margin-top: -4.3vw;
  margin-left: 13vw;
  height: 4.5vw;
  width: 4.5vw;
}
